@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

* {
  box-sizing: border-box;
}
